* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 80%;
}

nav {
  text-align: left;
  padding: 10px;
}

.url {
  color: grey;
}

.cv-section h1, .contact-section h2 {
  color: #ff007f; /* Pink accent */
}

.preview-btn {
  padding: 10px 20px;
  background-color: grey;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.preview-btn:hover {
  background-color: #555;
}
