body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #121212, #252525);
    color: white;
    text-align: center;
}

.navbar {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.certifications {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.tile {
    width: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.tile:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.tile img {
    width: 100%;
    border-radius: 5px;
}

    /* Floating Home Button styling */
    .floating-home-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #636466;
      color: rgb(233, 238, 233);
      border: none;
      width: 40px;
      height: 40px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      font-size: 30px;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    .floating-home-button:hover {
      background-color: rgb(44, 46, 44);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .floating-home-button:active {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
      .floating-home-button {
        width: 35px;
        height: 35px;
        font-size: 24px;
    }
